<div>
    <h2>Transactions List</h2>
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
  
      <ng-container matColumnDef="code_transaction">
        <th mat-header-cell *matHeaderCellDef>Transaction Code</th>
        <td mat-cell *matCellDef="let element">{{element.code_transaction}}</td>
      </ng-container>
  
      <ng-container matColumnDef="lib">
        <th mat-header-cell *matHeaderCellDef>Library</th>
        <td mat-cell *matCellDef="let element">{{element.lib}}</td>
      </ng-container>
  
      <ng-container matColumnDef="tri">
        <th mat-header-cell *matHeaderCellDef>Tri</th>
        <td mat-cell *matCellDef="let element">{{element.tri}}</td>
      </ng-container>
  
      <!-- Add more columns as needed -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
