<div>
    <h2>Modules List</h2>
    <table mat-table [dataSource]="modules" class="mat-elevation-z8">

      <ng-container matColumnDef="code_module">
        <th mat-header-cell *matHeaderCellDef>Code Module</th>
        <td mat-cell *matCellDef="let element">{{element.code_module}}</td>
      </ng-container>

      <ng-container matColumnDef="lib">
        <th mat-header-cell *matHeaderCellDef>Lib</th>
        <td mat-cell *matCellDef="let element">{{element.lib}}</td>
      </ng-container>

      <ng-container matColumnDef="code_schema_db">
        <th mat-header-cell *matHeaderCellDef>Code Schema DB</th>
        <td mat-cell *matCellDef="let element">{{element.code_schema_db}}</td>
      </ng-container>

      <ng-container matColumnDef="fournisseur">
        <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
        <td mat-cell *matCellDef="let element">{{element.fournisseur}}</td>
      </ng-container>

      <ng-container matColumnDef="tri">
        <th mat-header-cell *matHeaderCellDef>Tri</th>
        <td mat-cell *matCellDef="let element">{{element.tri}}</td>
      </ng-container>

      <ng-container matColumnDef="img_b64">
        <th mat-header-cell *matHeaderCellDef>Image Base64</th>
        <td mat-cell *matCellDef="let element">{{element.img_b64 | json}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
