/* You can add global styles to this file, and also import other style files */
.mat-form-field {
    width: 150px; /* Default width for all form fields */
  }
  
  .mat-input-element {
    font-size: 14px; /* Default font size for all input elements */
    height: 30px; /* Default height for all input elements */
    padding: 4px; /* Default padding */
  }
  